[submodule "Hydra/Hydra"]
	path = Hydra/Hydra
	url = https://github.com/carlhjal/Hydra
[submodule "Orbital propagator/Orbital-propagator"]
	path = Orbital propagator/Orbital-propagator
	url = https://github.com/carlhjal/Orbital-propagator
[submodule "Hovercraft/hovercraft"]
	path = Hovercraft/hovercraft
	url = https://github.com/carlhjal/hovercraft
[submodule "Digital clock/digital-clock"]
	path = Digital clock/digital-clock
	url = https://github.com/carlhjal/digital-clock
[submodule "Random Projects/Random-projects"]
	path = Random Projects/Random-projects
	url = https://github.com/carlhjal/Random-projects
