[submodule "Hydra/Hydra"]
	path = Hydra/Hydra
	url = https://github.com/carlhjal/Hydra
[submodule "Orbital propagator/Orbital-propagator"]
	path = Orbital propagator/Orbital-propagator
	url = https://github.com/carlhjal/Orbital-propagator
